<header class="main-header">
    <a href="/" class="logo">
      <!-- LOGO -->
      Oyun Çeviri
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="dist/img/<%= user.local.image %>" class="user-image" alt="User Image">
              <span class="hidden-xs"><%= user.local.name %> <%= user.local.surname %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="dist/img/<%= user.local.image %>" class="img-circle" alt="User Image">
                <p>
                    <%= user.local.name %> <%= user.local.surname %>
                  <small><%= user.local.userRole %></small><br />
                  <small><%= user.local.createdDate %></small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/profile" class="btn btn-default btn-flat">Profil</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Çıkış</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>