<!DOCTYPE html>
<html lang="tr">

<head>
    <%- include ./partials/head.ejs %>
</head>

<body class="skin-blue fixed sidebar-mini">
<div class="wrapper">
    <%- include ./partials/header.ejs %>

    <%- include ./partials/sidebar.ejs%>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Profil</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
                <li><a href="/profile">Profil</a></li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-4"></div>
                <div class="col-md-4 ">
                    <!-- /.box-header -->
                    <div id="profileBoxId" class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">

                            <h3 class="profile-username text-center"><%= user.local.name %> <%= user.local.surname %></h3>

                            <p class="text-muted text-center"><%= user.local.userRole %></p>

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <p class="text-center"><b><%= user.local.email %></b></p>
                                </li>
                                <li class="list-group-item">
                                    <p class="text-center"><b><%= user.local.createdDate %></b></p>
                                </li>
                            </ul>

                            <div class="box-body">
                                <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

                                <p class="text-muted">
                                    B.S. in Computer Science from the University of Tennessee at Knoxville
                                </p>

                                <hr>

                                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                                <p class="text-muted">Malibu, California</p>

                                <hr>

                                <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

                                <p>
                                    <span class="label label-danger">UI Design</span>
                                    <span class="label label-success">Coding</span>
                                    <span class="label label-info">Javascript</span>
                                    <span class="label label-warning">PHP</span>
                                    <span class="label label-primary">Node.js</span>
                                </p>

                                <hr>

                                <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                            </div>
                            <button class="btn btn-success" onclick="hideProfileBox();">Bilgileri Düzenle</button>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <div id="editBoxId" class="personal-info hidden">

                        <div class="alert alert-info alert-dismissable hidden">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <i class="fa fa-coffee"></i>
                            <p id="alertMessage"></p>
                        </div>

                        <h3>Bilgileriniz</h3>

                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            <div class="text-center" style="margin-bottom: 10px;">
                                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                                <h6>Fotoğraf yükleyin...</h6>

                                <input class="form-control" type="file" name="image">
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Adınız:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" placeholder="Adınız" type="text" name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Soyadınız:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" placeholder="Soyadınız" type="text" name="surname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" placeholder="email@gmail.com" type="text" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Şifre:</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="11111122333" type="password" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Şifre(tekrar):</label>
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="11111122333" type="password" name="_password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                    <input class="btn btn-primary" value="Kaydet" type="button">
                                    <span></span>
                                    <input class="btn btn-default" value="İptal" type="reset" onclick="showProfileBox();">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </section>


    </div>
    <%- include ./partials/footer.ejs%>

</div>
<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<!-- Sparkline -->
<script src="plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="plugins/chartjs/Chart.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard2.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<script src="dist/js/myJavaScript.js"></script>
</body>

</html>
